/************** Overall layout ***************/
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.layout {
	display: flex;
  	flex-direction: row;
	height: 100vh;
}

/************** Navigation on the left  ***************/
.navigation {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: fixed;
	width: 30%;
	height: 100vh;
	min-width: 300px;
	text-align: center;
	border-right: 1px solid #ebebeb;
}

header {
	height: 33.3333vh;
	min-height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: Georgia, Times, "Times New Roman", serif;
}

header a {
	text-decoration: none;
}

header a:visited {
	color: blue;
	
}

.siteLogo {
	margin: 30px;
}

.siteTitle {
	margin: 0;
	font-size: 36pt;
}

.siteDescription {
	font-family: "Work Sans", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12pt;
	color: grey;
	font-weight: normal;
}

footer {
	width: 100%;
	text-align: center;
	padding: 1rem 0;
	border-top: 1px solid #ebebeb;
}
footer a {
	color: grey;
	text-decoration: none;
}

/************** Content on the right ***************/
.content {
	flex-grow: 1;
}

/* 
  This spacer is as wide as the fixed navigation 
  It keeps the content from slipping under the navigation
*/
.left-spacer {
	width: 30%;
	height: 100vh;
	min-width: 300px;
	flex-shrink: 0;
}

/************** List of blog posts on the start page ***************/
.blog-list {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
}

.blog-list-item {
	min-height: 250px;
	height: 33.333vh;
	display: flex;
	align-items: stretch;

}

.blog-list-item .excerpt-link {
	width: 100%;
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	text-decoration: none;
	color: black;
}

.blog-list-item .hero-image-wrapper {
	width: 33.3333vh;
	/*height: 33.3333vh;*/
    background-size: cover;
    background-repeat: no-repeat;
	background-position: 50% 50%;
	opacity: 1.0;
}

.blog-list-item .excerpt-content-wrapper {
	width: 100%;
	border-bottom: 1px solid #ebebeb;
	display: flex;
	flex-direction: row;
	align-items: center;
	-webkit-transform: translateX(0px);
	transform: translateX(0px);
	-webkit-transition: transform 0.5 ease-out;
	transition: transform 0.5s ease-out;
}

.blog-list-item .excerpt-content {
	padding: 0 2rem;
}

/* hover effects */
.blog-list-item:hover .hero-image-wrapper {
	opacity: 0.8;
	-webkit-transition: opacity 0.5 ease;
    transition: opacity 0.5s ease;
}

.blog-list-item:hover .excerpt-content-wrapper {
	-webkit-transform: translateX(10px);
	transform: translateX(10px);
	-webkit-transition: transform 0.5s ease-out;
	transition: transform 0.5s ease-out;
}

.excerpt-content .post-title {
	margin: 0;
	padding: 0;
	color: blue;
}

.post-date {
	color: darkgray;
	font-family: "Work Sans", "Helvetica Neue", Helvetica, sans-serif;
	margin: 0;
	font-size: 1rem;
}



.excerpt-content .post-excerpt {
	color: rgb(70, 70, 70);
}


/************** One blog post ***************/
.blogPost {
	margin: 2rem 10%;
	font-family: Georgia, Times, "Times New Roman", serif;
	/*font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;*/
	line-height: 1.5;
	font-size: 1.2rem;
}

.post-tags {
	float: right;
	color: darkgray;
	font-family: "Work Sans", "Helvetica Neue", Helvetica, sans-serif;
	margin: 0;
	font-size: 0.75rem;
}

.post-tag {
	border: 1px solid #ebebeb;
	border-radius: 3px;
	margin-left: 4px;
	padding: 1px 4px;	
}

.blogPost h1:first-child {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}

.blogPost p {
	text-align: justify;
}

.pref-post-link {
	text-decoration: none;
	font-size: 0.8rem;
}

.next-post-link {
	float: right;
	text-decoration: none;
	font-size: 0.8rem;

}


.post-footer {
	margin-top: 2rem;
	padding-top: 10px;
	border-top: 1px solid #ebebeb;
	color: #ebebeb;
}

.post-footer a {
	color:lightgray;
}
.post-footer a:visited {
	color:lightgray;
}



/* Special styling for mobile devices 
@media (max-width: 768px) {
	.layout {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}

	.nav {
		border-bottom: 1px solid #ebebeb;
		display: flex;
		flex-direction: row;
		align-items: center;
		text-align: center;
	}

	.content {
		flex-grow: 1;
	}
}
*/



