/**
 *
 * Doogie.de CSS Layout
 *
 * This layout builds upon the awesome Bootstrap Library (getbootstrap.com)
 */

/************** Google Font NOTO SERIF ***************/
/*@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap'); */

/* latin-ext */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notoserif/v9/ga6Iaw1J5X9T9RW6j9bNfFkWaCi_.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notoserif/v9/ga6Iaw1J5X9T9RW6j9bNfFcWaA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/************** Overall layout ***************/
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: 'Noto Serif', serif;
	/*font-family: Georgia, Times, "Times New Roman", serif;*/
	/*font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;*/
	/*font-size: 1.2rem;*/
}

.layout {
	display: flex;
  flex-direction: row;
}


/************** Navigation on the left  ***************/
.navigation {
	display: flex;
	flex-direction: column;
	position: fixed;
	width: 25%;
	height: 100vh;
	min-width: 300px;
	text-align: center;
	border-right: 1px solid #ebebeb;
}

header {
	height: 33.3333vh;
	min-height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header a {
	color: blue;
	text-decoration: none;
}

header a:visited {
	color: blue;	
}

.siteLogo {
	margin: 30px;
}

.siteTitle {
	margin: 0;
	font-size: 36pt;
	color: darkblue;
	font-weight: bold;
	
}

.siteTitle a:visited {
	color: darkblue;
}

.siteDescription {
	font-family: "Work Sans", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12pt;
	letter-spacing: 1.7px;
	color: grey;
	font-weight: normal;
}

.tag-cloud {
	list-style: none;
	margin: 100px 0;
	padding-left: 0;	
	color: gray;
	font-size: 0.75rem;
	line-height: 2;
}

.tag-cloud a {
	color: gray;
	text-decoration: none;
	width: 210px;
	display: inline-block;
	margin-bottom: 0.5rem;
}

.tag-cloud a:hover {
	color: darkblue;
	background-color: #eeeeee;
}

footer {
	width: 100%;
	text-align: center;
	padding: 1rem 0;
	font-size: 1.5rem;
}
footer .social-link {
	margin: 0 1rem;
	color: lightgray;
	text-decoration: none;
}

footer .social-link:hover {
	color: grey;
}


/* 
  This spacer is as wide as the fixed navigation 
  It keeps the content from slipping under the navigation
*/
.left-spacer {
	width: 25%;
	height: 100vh;
	min-width: 300px;
	flex-shrink: 0;
}

/**
 * ============= Masonry layout for blog post cards on start page =============
 * Now done with bootstrap's awesome card-columns
 */

.right-container {
	background-color: #EEE;
	padding-top: 15px;
}

/* if a tag is selected, it is shown at the top */
.selected-tag-wrapper {
	margin: 2rem 0;
}

.selected-tag-wrapper .selected-tag {
	padding: 3px 1rem;
	font-size: 0.75rem;
	line-height: 2;
}

/* This isused in the alert at the top AND in the tag-cloud! */
.selected-tag {
	background: lightgray;
}




.blog-list-card {
	/* shadow transition effect from https://tobiasahlin.com/blog/how-to-animate-box-shadow/ */
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	/*border-radius: 1rem;*/
}

.card-img-top {
	object-fit: cover; /* Cover the area but keep image proportions */
	object-position: center; /* Center the image within the element */
	width: 100%;
	max-height: 200px;
	/*border-radius: 1rem;*/
	
}

.blog-list-card::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.blog-list-card:hover {
  -webkit-transform: scale(1.02, 1.02);
  transform: scale(1.02, 1.02);
}

.blog-list-card:hover::after {
    opacity: 1;
}

.blog-list-card .post-title {
	color: darkblue;
	font-family: 'Noto Serif', serif;
}

.post-metadata {
	color: #aaa;
}



/************** One blog post ***************/
.blog-post-card {
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

.blog-post-card .card-body {
	max-width: 768px;
	padding-top: 3rem;
	margin-left: auto;
	margin-right: auto;
}

.blog-post-card .post-metadata {
	margin-bottom: 2rem;
}

.blog-post-card .post-metadata div {
	display: inline;	/* Show date and tags in one line */
	margin-right: 1rem;
}

.post-date {
	font-family: "Work Sans", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 0.8rem;
	margin-left: 6px;
}

.post-tags {
	display: inline;
	font-size: 0.75rem;
}

.post-tag {
	font-family: "Work Sans", "Helvetica Neue", Helvetica, sans-serif;
	border: 1px solid #ebebeb;
	border-radius: 3px;
	margin-left: 4px;
	padding: 1px 4px;
}

.blog-post-card p {
	text-align: justify;
	margin-bottom: 0.5rem;
}

.post-link {
	text-decoration: none;
	font-size: 1.2rem;
}
.post-link-next {
	float: right;
}
.post-link-title {
	opacity: 0;
}
.post-link:hover .post-link-title {
	opacity: 1;
	transition: opacity 0.5s ;

}

/******* Post footer *******/

.post-footer {
	margin: 2rem auto 200px auto;			/* allow scrolling past end of blog post a bit */
	padding: 1.25rem;
	max-width: 768px;
	font-family: Georgia, Times, "Times New Roman", serif;
	color: grey;
}

.post-footer a {
	color:gray;
}
.post-footer a:visited {
	color:gray;
}

.licence {
	text-align: center;
	color: #aaa;
	font-size: 12px;
}
.licence a {
	color: #aaa
}



/******* Achilles & Turtle *******/
.turtle {
	padding-left: 1.5em;
	text-indent:-1.5em;
}
.turtle::before {
	content: "Turtle:\00A0";
	font-style: italic;
	color: grey;
}

.achilles {
	padding-left: 1.5em;
	text-indent:-1.5em;
}
.achilles::before {
	content: "Achilles:\00A0";
	font-style: italic;
	color: grey;
}

.sokrates {
	padding-left: 1.5em;
	text-indent:-1.5em;
}
.sokrates::before {
	content: "Sokrates:\00A0";
	font-style: italic;
	color: grey;
}

.indent {
	padding-left: 1.5em;
}



.full-width-layout {
	display: none;
}


/***********************************
 Special styling for mobile devices 
 ***********************************/
@media (max-width: 768px) {

	.full-width-layout {
		display: inline-block;
	}
	.masonry-layout {
		display: none;
	}

	.layout {
		display: flex;
		flex-direction: column;  /* switched from row on bigger screens */
		min-height: 100vh;
	}

	.navigation {
		width: 100%;
		height: auto;
		min-width: auto;
		position: relative;
		box-shadow: 0 .5rem 0.5rem rgba(0,0,0,.1);
	}

	header {
		height: auto;
		min-height: auto;
	}

	.tag-cloud {
		margin: 1rem 0;
	}
	.tag-cloud li {
		display: inline;
	}
	.tag-cloud a {
		width: auto;
	}

	footer {
		border-bottom: 1px solid lightgray;
	}

	.left-spacer {
		display: none;
	}

	/* Less spacing on mobile blog post, padding for site-sitle on mobile */
	.container-fluid {
		padding-right: 10px;
		padding-left: 10px;
	}

	/************ Layout for one blog post on mobile ******************/
	header {
		height: auto;
		min-height: auto;
	}
	
	.blog-post-layout .tag-cloud {
		display: none;
	}

	.blog-post-layout .siteLogo {
		display: none;
	}

	.blog-post-layout .siteTitle {
		font-size: 20pt;
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		background-color: white;
		padding: 5px 0;
		border-bottom: 1px solid lightgray;
		z-index: 100;
		box-shadow: 0 1px 5px lightgray;
	}

	/** hide some elements on the blog post page on mobile */
	.blog-post-layout footer {
		display: none;
	}
	.blog-post-layout .siteDescription {
		display: none;
	}

	.post-footer {
		margin: 2rem 1.5rem 2rem 1rem;
	}

	/* Margin at the top of the blog-post for site header on mobile */
	.blog-post-card {
		margin-top: 40px;
	}
	
	.blog-post-card .card-body {
		padding: 1rem;
	}

	.blog-post-card h1 {
		font-size: 2rem;
	}
	.blog-post-card h2 {
		font-size: 1.8rem;
	}
	.blog-post-card h3 {
		font-size: 1.6rem;
	}
	.blog-post-card h4 {
		font-size: 1.4rem;
	}

	/** Less indent on mobile in the dialog between our two friends */
	.turtle {
		padding-left: 0.5em;
		text-indent:-0.5em;
	}
	.achilles {
		padding-left: 0.5em;
		text-indent:-0.5em;
	}
	.sokrates {
		padding-left: 0.5em;
		text-indent:-0.5em;
	}

}


/**************** General typsetting *************/

blockquote {
	border-left: 3px solid lightgray;
	margin-left: 0.5rem;
	padding-left: 1rem;
	font-style: italic;
}

p.keep-newline {
	white-space: pre-line;
	text-align: left;
}