/************** Overall layout ***************/
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: Georgia, Times, "Times New Roman", serif;
	/*font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;*/
	font-size: 1rem;
}

.layout {
	display: flex;
  	flex-direction: row;
	height: 100vh;
}

/************** Navigation on the left  ***************/
.navigation {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: fixed;
	width: 30%;
	height: 100vh;
	min-width: 300px;
	text-align: center;
	border-right: 1px solid #ebebeb;
}

.nav-link:not(:first-child) {
	margin-left: 1rem;
}

header {
	height: 33.3333vh;
	min-height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/*
header a {
	text-decoration: none;
}

header a:visited {
	color: blue;
	
}
*/

.siteLogo {
	margin: 30px;
}

.siteTitle {
	margin: 0;
	font-size: 36pt;
	color: darkblue;
}

.siteTitle a:visited {
	color: darkblue;
}


.siteDescription {
	font-family: "Work Sans", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12pt;
	color: grey;
	font-weight: normal;
}

.tag-cloud {
	list-style: none;
	margin-left: 0;
	padding-left: 0;	
	color: gray;
	font-family: "Work Sans", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 0.75rem;
	line-height: 2;
}

.tag-cloud a {
	color: gray;
	text-decoration: none;
}

.tag-cloud a:hover {
	color: darkblue;
	background: #eeeeee;
}


footer {
	width: 100%;
	text-align: center;
	padding: 1rem 0;
	border-top: 1px solid lightgrey;
	font-size: 1.2rem;
}
footer a {
	color: lightgray;
	text-decoration: none;
}

footer a:hover {
	color: grey;
}

/************** Content on the right ***************/
.content {
	flex-grow: 1;
}

/* 
  This spacer is as wide as the fixed navigation 
  It keeps the content from slipping under the navigation
*/
.left-spacer {
	width: 30%;
	height: 100vh;
	min-width: 300px;
	flex-shrink: 0;
}

/************** List of blog posts on the start page ***************/
.blog-list {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
}

.blog-list-item {
	min-height: 250px;
	height: 33.333vh;
	display: flex;
	align-items: stretch;
}

.blog-list-item .excerpt-link {
	width: 100%;
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	text-decoration: none;
	color: black;
}

.blog-list-item .hero-image-wrapper {
	width: 33.3333vh;
	/*height: 33.3333vh;*/
    background-size: cover;
    background-repeat: no-repeat;
	background-position: 50% 50%;
	opacity: 1.0;
}

.blog-list-item .excerpt-content-wrapper {
	width: 100%;
	border-bottom: 1px solid lightgrey;
	display: flex;
	flex-direction: row;
	align-items: center;
	-webkit-transform: translateX(0px);
	transform: translateX(0px);
	-webkit-transition: transform 0.5 ease-out;
	transition: transform 0.5s ease-out;
	overflow: hidden;
}

.blog-list-item .excerpt-content {
	width: 100%;
	padding: 0 2rem;
}

/* hover effects */
.blog-list-item:hover .hero-image-wrapper {
	opacity: 0.8;
	-webkit-transition: opacity 0.5 ease;
    transition: opacity 0.5s ease;
}

.blog-list-item:hover .excerpt-content-wrapper {
	-webkit-transform: translateX(10px);
	transform: translateX(10px);
	-webkit-transition: transform 0.5s ease-out;
	transition: transform 0.5s ease-out;
}

.excerpt-content .post-title {
	margin: 0;
	padding: 0;
	color: darkblue;
}
.excerpt-content .post-excerpt {
	color: rgb(70, 70, 70);
}


/************** One blog post ***************/
.blog-post {
	margin: 2rem 10%;
	padding-bottom: 2rem;
	font-family: Georgia, Times, "Times New Roman", serif;
	line-height: 1.5;
	font-size: 1.2rem;
	position: relative;
	background: white;
}

.blog-post:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  right: 7px;
  left: auto;
  width: 60%;
  height: 50px;
  /*max-width:300px;*/
  background: #777;
  box-shadow: 0 15px 10px #777;
  transform: rotate(2deg);
}

.post-hero-image {
	height: 40vh;
	width: 100%;
	background-size: cover;
    background-repeat: no-repeat;
	background-position: 50% 50%;
}

.post-title {
	line-height: 1.2;
	margin-bottom: 0;
}


.post-date {
	color: darkgray;
	font-family: "Work Sans", "Helvetica Neue", Helvetica, sans-serif;
	margin: 0;
	font-size: 1rem;
}

.post-tags {
	float: right;
	color: gray;
	font-family: "Work Sans", "Helvetica Neue", Helvetica, sans-serif;
	margin: 5px 0 0 0;
	font-size: 0.75rem;
}

.post-tag {
	border: 1px solid #ebebeb;
	border-radius: 3px;
	margin-left: 4px;
	padding: 1px 4px;	
}

.blog-post p {
	text-align: justify;
}

.post-link {
	text-decoration: none;
	font-size: 0.8rem;
}
.post-link-next {
	float: right;
}
.post-link-title {
	opacity: 0;
}
.post-link:hover .post-link-title {
	opacity: 1;
	transition: opacity 0.5s ;

}

/******* Post footer *******/

.post-footer {
	margin: 2rem 10%;
	padding-top: 10px;
	font-family: Georgia, Times, "Times New Roman", serif;
	/* allow scrolling past end of blog post a bit */
	margin-bottom: 200px;
	color: grey;
}

.post-footer a {
	color:gray;
}
.post-footer a:visited {
	color:gray;
}


.turtle {
	padding-left: 1.5em;
	text-indent:-1.5em;
}
.turtle::before {
	content: "Turtle:\00A0";
	font-style: italic;
	color: grey;
}
.achilles {
	padding-left: 1.5em;
	text-indent:-1.5em;
}
.achilles::before {
	content: "Achilles:\00A0";
	font-style: italic;
	color: grey;
}
.indent {
	padding-left: 1.5em;
}




/* Special styling for mobile devices */
@media (max-width: 768px) {
	.layout {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}

	.navigation {
		width: 100%;
		height: 250px;
		min-width: auto;
		display: contents;
		position: relative;
		text-align: center;
	}

	.tag-cloud {
		display: inline-flex;
	}

	footer {
		border-bottom: 1px solid lightgray;
	}

	.content {
		margin-top: 0;
	}

	.left-spacer {
		display: none;
	}

	/*
	.blog-list-item {
		height: auto;
	}
	*/

	.blog-list-item {
		margin-top: 1rem;
	}

	.blog-list-item .excerpt-link {
		display: flex;
		flex-direction: column;
		
	}

	.blog-list-item .excerpt-content-wrapper {
		display: block;
		align-items: stretch;
		flex-grow: 1;
	}

	.blog-list-item .hero-image-wrapper {
		width: auto;
		height: 10vh;
		margin-left: 1rem;
		margin-right: 1rem;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		opacity: 1.0;
		margin-bottom: 10px;
	}
	
	.blog-list-item .excerpt-content {
		padding: 0 1rem;
	}

	.post-title {
		font-size: 1.6rem;
	}

	/************ Mobile blog post ******************/
	.blog-post {
		/** need a bit more space at the right because of scrollbar */
		margin: 0 1rem 0 0.5rem;
		font-size: 1rem;
	}

	header {
		height: auto;
		min-height: auto;
	}

	.blog-post-layout .tag-cloud {
		display: none;
	}

	.blog-post-layout .siteLogo {
		display: none;
	}

	.blog-post-layout .siteTitle {
		font-size: 20pt;
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		background: #f1f1f1;
		padding: 5px 0;
		border-bottom: 1px solid lightgray;
		z-index: 100;
		box-shadow: 0 1px 5px lightgray;
	}

	.blog-post-layout .content {
		margin-top: 50px;
	}

	/** hide some elements on the blog post page on mobile */
	.blog-post-layout footer {
		display: none;
	}
	.blog-post-layout .siteDescription {
		display: none;
	}
	.post-link-title {
		display: none;
	}
		
	.post-hero-image {
		height: 10vh;
	}

	.post-date {
		font-size: 0.8rem;
	}

	.post-footer {
		margin: 2rem 1.5rem 2rem 1rem;
	}

	
}


/**************** General typsetting *************/

blockquote {
	border-left: 3px solid lightgray;
	margin-left: 0.5rem;
	padding-left: 1rem;
	font-style: italic;
}

p.keep-newline {
	white-space: pre-line;
	text-align: left;
}