//-	This PUG files becomes your index.html

//- Extend the overall layout. E.g HTML <header> is configured there.
extends includes/layout.pug

//- layout.pug contains a content block
//- Fill it with the list of blog excerpts
block content
  include includes/blog-list.pug