
if !posts || posts.length === 0
	p No posts in this blog yet!

//-TODO: show current select tag on the left
if selectedTag
	.container-fluid.selected-tag-wrapper
		.alert.alert-light
			i.fa.fa-tags
			span.post-tag= selectedTag
			a.float-right(href="/") &#x2715;

//- MASONRY LAYOUT in PUG :-) Posts in colums. From left to right, top down. Each blog-list-item only uses the height it needs.
.masonry-layout.container-fluid.mt-3
	.row
		- for (var col = 0; col < 3; col++)
			.col
				- for (var postIdx = 0; postIdx < posts.length; postIdx++)				
					if (postIdx % 3 == col)
						- 
							var post = posts[postIdx]
							post.idx = postIdx
						include blog-list-item.pug

//- Full width layout for mobile devices
.full-width-layout.mt-3
	- for (var postIdx = 0; postIdx < posts.length; postIdx++)				
		- 
			var post = posts[postIdx]
			post.idx = postIdx
		include blog-list-item.pug