.header-wrapper
	header
		a(href="/")
			img.siteLogo(src="/static/images/logo-hands.png", alt="Logo")
			h1.siteTitle Doogie.de
		h3.siteDescription Robert's personal blog


	nav
		ul.tag-cloud
			each tag in tags
				if tag.count > 1 
					li 
						a(href="/tags/"+encodeURIComponent(tag.tag)+".html").post-tag= tag.tag

footer
	a(href="/blog-posts/welcome-on-doogie-de.html" title="Impressum").nav-link
		i.fas.fa-info-circle
	a(href="https://github.com/doogiemuc" title="GitHub" target="_blank").nav-link
		i.fab.fa-github
	a(href="https://www.facebook.com/DoogieMuc" title="Facebook" target="_blank").nav-link
		i.fab.fa-facebook
	
