.header-wrapper
	header
		a(href="/")
			img.siteLogo(src="/static/images/logo-hands.png", alt="Logo")
			h1.siteTitle Doogie.de
		h3.siteDescription Robert's personal blog

//-
	nav
		ul.tag-cloud
			li 
				a Tag1
			li 
				a Tag2

footer
	a(href="/pages/about.html") About
