h1 Welcome on Doogie.de
p This is my personal blog. Here I write about wherever the endless chain of hyperlinks may drive me. With an occasional excursus into politics and philosophy.
p I would like to encourage discussion. Feedback and comments about my articles are always welcome.

p If you want to contact me, than you can do so via e-mail. If you don't know my e-mail, then go learn how the internet works.
p When you browse on doogie.de (or <em>any</em> other site on the net) some server knows your IP adress. If you don't want that, then stop using the internet.

p.cite Welcome in the 20th century.