extend /includes/blogPostLayout.pug

block content
	-
		var metadata = { 
			id: "achilles-turtle-metapost",
			title: "The achilles & turtle metapost",
			date: "2019-08-14",
			img: "blue-liquid.png",
			tags: ["Achilles & Turtle", "Philosophy"],
			excerpt: "Who is this achilles and his calm friend the turtle? And what are they talking about every day?",
		}

	+postHeader(metadata)

	p.turtle Hello Achilles! What a beautiful day.

	p.achilles Yes, it's the perfect weather to philosophize a little bit in the sun.

	p.turtle Ah, you're brooding again. Which topic concerns you today so much?

	p.achilles Oh, you know, I was just thinking about us a bit. What are we doing here?

	p.turtle Well, actually, it always starts with the fact that I arrive here and wish you a "wonderful day". Then you say that it's just the perfect weather to philosophize, and I'll ask you what topic you're bending your mind around on that day.

	p.achilles That's right, now that you're saying it, I realize that our meetings always begin with the same three sentences. I have not noticed so far.

	p.turtle And your topics are always ... well ... somehow unexpected. You always look at things and relationships from a very peculiar point of view.

	p.achilles Must be up to me. Sometimes I almost believe someone else is talking in my head. Already a funny guy.

	p.turtle But we always enjoy our conversations very much. At first I am often confused, sometimes almost annoyed. But in the end I can always say that I have learned something. May it be just a different view of something that I had previously taken for granted. I'm looking forward to our next meeting.

	p.achilles I'm fine too. See you soon.