extend ../includes/blog-post-layout.pug

block content
	-
		var metadata = { 
			id: "achilles-turtle-metapost",
			title: "The achilles & turtle metapost",
			date: "2019-08-14",
			img: "blue-liquid.png",
			tags: ["Achilles & Turtle", "Philosophy"],
			excerpt: "Who is this achilles and his calm friend the turtle? And what are they talking about every day?",
		}

	p.turtle Hello Achilles! What a beautiful day.

	p.achilles Yes, it's the perfect weather to philosophize a little bit in the sun.

	p.turtle What question are you pondering on today?

	p.achilles Well, you know, I was just thinking about the two of us. What are we doing here?

	p.turtle Well, if you ask me like that, it always starts with the fact that I arrive here and wish you a wonderful day. Then you say that it's just the perfect weather to philosophize, and I'll ask you what topic you are bending your mind around.

	p.achilles That's right, now that you mention it, I realize that our meetings always begin with the same three sentences. I haven't noticed until now.

	p.turtle And your topics are always ... well ... somehow unexpected. You always look at things from a very peculiar point of view.

	p.achilles This must be on me. Sometimes I almost believe someone else is talking in my head. Seems to be a funny guy.

	p.turtle But we always enjoy our conversations very much. At first I am often confused, sometimes almost annoyed. But in the end I can always say that I have learned something. May it be just a different view of something that I had previously taken for granted. I'm looking forward to our next meeting.

	p.achilles Same for me. I am looking forward to meeting you again.