extend ../includes/blog-post-layout.pug

block content
	-
		var metadata = { 
			id: "cognitive-horizon",
			title: "If you can't think it, you'll never do it",
			date: "2019-11-06",
			img: "blue-biblio.png",
			tags: ["Achilles & Turtle", "Philosophy"],
			excerpt: "If you cannot imagine an idea or concept then you will never translate it into action.",
		}

	p.achilles Hello turtle, how are you doing this morning?

	p.turtle Good morning Achilles! Thank you very much for asking. And yourself? Surely you are thinking about an exciting question again?

	p.achilles Yesterday I read a sentence in a book and that thought concenred me since then: "If you cannot imagine an idea or concept then you will never translate it into action."

	p.turtle Sorry, but you'll have to explain that in more detail to me.

	p.achilles
		| Since years I am trying to explain this same idea with a very simple example: "Ants will never build a space shuttle and fly to the moon." With this metaphor I like to point to the narrowness of the cognitive horizon of an adult.
		| But more often than not this abstract concept lies outside the cognitiv horizon evon of adults, just the same as the concept of recursion does, too.

	p.turtle But hey, I can imagine anything I like.

	p.achilles
		| Yes you think that you can. But you cannot. Let me expand on the example. Ants will never build a space ship not just simply because one single ant is physically not capable to lift the peaces. 
		| Millions of ants might be able to do so, or build tools that can. No, the point I am trying to make here is a more fundamental one: Ant's will never be able to _imagine_ a space shuttle. 

	p.turtle But if I tell them how to build it?

	p.achilles No, their brain simply is not capable of that. And they don't know that. They are just happy as they are.

	p.turtle How admirable that must be!

	p.achilles And it is the same with us humans. There are concepts that we'll just plain simply never will be able to perceive. It's not that we will not because we did not hear of it, or not because no one explained it to us. It's because we plain simply <em>can't</em> in the sense of we are <em>not able</em> to do so.

	p.turtle Now I am perplexed. There are things I cannot imagine. But I cannot imagine them because I'll never understand them? And I even don't know that?

	p.achilles
		| Put very simply, yes. This is what I like to call the <em>cognitive horizon</em>. It has limits. In two dimensions, in time and space. Think for example of a small baby child. Its cognitive horizon is about five meters around it and about five minutes in the future and past. 
		| This can be <a href="https://en.wikipedia.org/wiki/Infant_cognitive_development#Object_permanence">proofen by experiments</a>. From our adult perspective this is rather entertaining. But the aspect that we do not realize is that we as adults also have a limited cognitive horizon.
		| We are just not aware of it. For example, while reading this you do not think about the color of the second drink that you had on your third to last birthday. You might even remember this fact or maybe happen to have a picture of it (which can replace memory of the actual event faked -
		| but that's another story). My point is: That memory - if it exists at all - does not influence your current actions today. It's outside your current cognitive horizont (in time and/or space dimension).

	p.indent Now the important follow up question is: What consequence does this have for our actions?
