extend /includes/blog-post-layout.pug

block content
	-
		var metadata = { 
			id: "complexity-scanner",
			title: "The complexity scanner",
			date: "2015-09-02",
			img: "time-abstract.jpg",
			tags: ["Philosophy", "Complexity"],
			excerpt: "What if there was a scanner, that would be able to scan for complexity.",
		}

	+postHeader(metadata)

	p What if there was a scanner, that would be able to scan for complexity. Imagine a tool just like an infrared camera that shows a heatmap from dark green for low complexity up to bright red for high complexity. What would this scanner actully show on its display? What would be the brightest red thing? Would it be our brain? Or would it be a computer processor chip?

	p In terms of complexity per area I think it would be the computer processor. A modern computer processor nowadays is that small, and has so many switches per square milimeter that it surpases the complexity of a human brain.

	p But be carefull! Do not confuse complexity with intelligence. Complexity is a passive attribute of a system. When a system consinsts of a certain amount of elements that interact with each other, its behaviour cannot be determined, even if the interaction between each individual pair of elements is known. „The sum of all parts is greater than the whole.“

	p Some very disturbing situations may occure, when someone does not perceive the complexity of a thing. Very often I find myself in the situation that I (metaphorically described) see someone trying to repair a computer processor with a soldering iron. I fell the urge to cry out: „No, please stop! You will destroy your chip! A chip is far to complex. It cannot be repaired with a soldering iron.“ But it doesn’t help.

