extend ../includes/blog-post-layout.pug

block content
	-
		var metadata = { 
			id: "dimension-of-scale",
			title: "Dimension of scale",
			date: "2020-11-21",
			img: "atlas_big_cern.jpg",
			img_credits: "LHC at CERN in Genf",
			img_source_url: "https://science.orf.at/v2/stories/2950919/",
			tags: ["Sokrates & Turtle", "Philosophy", "Metaphysics", "Astronomy"],
			excerpt: "There are three well known dimensions. X,Y and Z. Physicians are still arguing wether time is the forth dimension or wether its different. We can only move along time in one direction. But what if there evan was one more dimension?",
		}

	p.turtle Hey Sokrates! How're you doing?

	p.sokrates Thanks, fine! Today is the perfect weather for philosophizing again.

	p.turtle What question are you pondering about today?

	p.sokrates Well, you know, I was just thinking about dimensions.

	p.turtle Oh I know what you mean. We live in a three dimensional world. So there are three dimensions.

	p.sokrates Yes, that's true. But what if there were only two dimensions?

	p.turtle Oh I read a book about it. Wait, what was it called? Oh yes it was <a href="https://de.wikipedia.org/wiki/Flatland" target="_blank">"Flatland - A Romance of Many Dimensions (by a square)"</a> by Edwin A. Abbot.

	p.sokrates.
		Did you also read it. I especially like the part hwere Edwin describes how it would look like for a flat earther, when a sphere passes through his flat world. At first there would be nothing. When the spere 
		first touches the two dimensional plane he lives in, he'd see (not see?) a point. When the sphere starts to penetrate his plene, he'd see a circle ...
	
	p.turtle Uh, Sokrates. I am really very sorry, for interupting you. But I think you missed something. Since that flat earther is living within his two dimensional plane, I think he wouldn't see a circle. Instead he would see a line.

	p.sokrates.
		Ok I understand what you mean. But this is not quite right. Yes that flat earther would see a line, which is the projection of a two dimensional circle into one dimension. But it is still a circle.
		If there were multiple bystanders at different viewing angles and they would communicate between each other, then they could become aware of the fact, that the line that each of them sees is acutally a circle.
	
	p.turtle Oh ok, I was just considering that one viewer. Having multiple point of views of course you are right.

	p.sokrates So that thing that flat earther sees would grow in size, until its length equals the diameter of the sphere. Then it would start getting smaller and smaller. Until it finally vanishes, as if it would never have been there.

	p.turtle I can image the flat earther would be quite perplexed by this experience.

	p.sokrates Luckily it doesn't happen too often, that a three dimensional sphere passes through a two dimensional plane. 

	p.turtle Just imagine, if a four dimensional sphere would passs through our three dimension time all the time. Wouldn't that be anoying?  (What did I just say???)

	p.sokrates &lt;smiles&gt; Oh yes that would defenitely be something. Just start about thinking what would happen, if you 'touch' this four dimensional spehre? Would there be any resistance our would you just pass through it?

	p.turtle Which color would it have?

	p.sokrates Color <a href="https://en.wikipedia.org/wiki/Color#Physics_of_color" target="_blank">can be defined as</a> as a class of spectra that give rise to the same color sensation at an individual ...

	p.turtle Uh Sorkates, you are digressing again. We wanted to talk about another dimension!
	
	p.sokrates Oh, sorry, I drifted off again ... I promise to STOP ("STay On toPic") more.

	p.turtle No worries. Ok, now about another dimension.

	p.sokrates Oh yes, another dimension. Well actually quite simple: What if self-similarity was another dimension?

	p.turtle Self what?

	p.sokrates Self-similarity, when an object is exactly or approximately similar to a part of itself (i.e., the whole has the same shape as one or more of the parts)

	p.turtle But I thought the whole is more than the sum of its part.

	p.sokrates Now you are digressing.

	p.turtle Sorry. :-(

	p.sokrates.
		Self-similarity is a very well known concept that appears everywhere in nature, for example in flowers. It became well-known, when Benoit Mandelbrot discoverd the beauty of fractals. You can zoom into a Mandelbrot set
		and re-discover the same structures again and again.

	p.turtle Aaaah, now I remember. You are talking about these mind-expanding zoom-in animations that were created from that simple formula f_c(z) = z^2

	p.sokrates Exactly.

	p.turtle But why would that be a dimension?

	p.sokrates Well, think about it. Aren't planets circling around a central star, not just the same as electrons circling around a nucleus?

	p.turtle Oh come on! Now you are fantasizing!

	p.sokrates.
		Why? Electrons can take <a href="https://en.wikipedia.org/wiki/Bohr_model#Electron_energy_levels" target="_blank">multiple levels of discrete energy<a>, ie. circling on specific circular pathes at specific radiuses. 
		This is just the same for plantes. A mass can only circle around a central star at one specific radius, where the gravity of the star is exactly equal to the the centrifugal force that results from its speed of rotation.

	p.turtle But how would that <em>mass</em> change its <em>energy level</em>?

	p.sokrates.
		Well, for example by being hit by another electron, uh I mean, a meteor. Either the planet is completely knocked out of its start system, ie. it "radiates". Or the comet is smaller and only hits the planet. Then the plant's mass
		increases by the mass of the commet. The planet must thein either move to an orbit with larger diameter or increase its rotation speed, to maintain a stable path around the central star. This depends of the angle of the impact.

	p.turtle But Sokrates, we are shooting electrons onto other particles in the greatest machine that humanity has ever built regularly. But in a straight line (<a href="https://home.cern/sites/home.web.cern.ch/files/2018-06/1311292_01-a4-at-144-dpi.jpg" target="_blank">from a cicular LHC</a>) How shall we examine the "angle o f impact"?

	p.sokrates.
		You know what I always moan about: That's like trying to repair a highly complex computer processor with a hughe soldering iron. That tool just simply isn't capable of grasping the complexity of the testee.
		Although its the most complex one we've ever build. But that's another story.

	p.turtle So are we lost?

	p.sokrates Not at all. We are progressing in the right direction. We are beginning to understand the genuine complex structure of matter itself.

	p.turtle But what about that additional dimension?

	p.sokrates Hey my dear friend. It's getting late. Sun has already set a while ago. Let's continue our uplifting discussion tomorrow.

	p.turtle Yes I totally agree. I am also quite tired already.

	p.sokrates So have a good night and see you tomorrow!

	p.turtle You too!