extend /includes/blogPostLayout.pug

block content
	-
		var metadata = { 
			id: "fly-to-the-moon",
			title: "What do I need to fly to the moon?",
			date: "2015-08-20",
			img: "universe-blue.jpg",
			tags: ["philosphy"],
			excerpt: 'What would you reply if some asked you: "What do I need to fly to the moon? Pears or bananas?"',
		}

	+postHeader(metadata)

	p.achilles Hello Turtle! What a nice day today.

	p.turtle Hello Achilles! Yes, just right to let the thoughts revolve in the shade under this beautiful olive tree. Which question do you reflect today?

	p.achilles I was just asked by someone, "What do I need to fly to the moon? Pears or bananas? "

	p.turtle What's that stupid question? Of course you do not need pears or bananas to fly to the moon. You need a space shuttle.

	p.achilles Yes, that's the spontaneous answer most people would give. But apart from the fact that it is purely contentwise wrong (you do not need a space shuttle but a Saturn V rocket and a lunar module), it is also off-topic. She does not answer the original question. The question is not what "one" needs to fly to the moon, but what "I", the questioner, needs to fly to the moon.

	p.turtle Mmhh that's right. So what would be a correct answer?

	p.achilles A purely correct answer would be for example: "To fly to the moon you need neither pears nor bananas." Of course, this answer does not help the questioner any further.

	p.turtle So what do I answer if I actually want to help the questioner?

	p.achilles Of course that depends on who asks. Suppose a little kid asks. A statistically correct but brutal answer would be: "Unfortunately, you will never be able to fly to the moon." A pedagogically valuable answer would be against it: "If you want to fly to the moon, then you should first start with air-and-space technology study and then apply to ESA or NASA. "

	p.turtle I like that last answer very well.

	p.achilles Thanks, yes me too. The question can also be considered in more abstract way.

	p.turtle What do you mean by "more abstract"?

	p.achilles You can think, what's behind the question? The questioner obviously knows very little about how to fly to the moon. In his view, it seems to be pretty easy. And probably because of wrong information in advance, he believes you need to pears or bananas.

	p.turtle Mmh, that means you have to explain to the questioner first of all that the process of flying to the moon is actually much more complicated than it could be solved with pears or bananas.

	p.achilles Yes, exactly right.

	p.turtle But that will be a long answer.

	p.achilles That's the way it is. For many questions there is simply no short and concise answer. Especially when the question revolves around a complex issue.

	p.turtle But many people expect a short answer.

	p.achilles Yes, unfortunately. Especially when the questioner does not know the complexity of the topic (or even worse: does not even understand it). Then there is hardly any answer option without annoying the questioner.
