extend ../includes/blog-post-layout.pug

block content
	-
		var metadata = { 
			id: "gaia-dns",
			title: "Where is everyone?",
			date: "2020-03-11",
			img: "universe-blue.jpg",
			tags: ["Philosophy"],
			excerpt: "If there are so many planets, where are all the extraterestrials? And how would you store data if you want to store it really very long and send it throughout space?",
		}

	h2 The Fermi Paradoxon

	blockquote
		p The Fermi paradox, named after Italian-American physicist Enrico Fermi, is the apparent contradiction between the lack of evidence for extraterrestrial civilizations and various high estimates for their probability (such as some optimistic estimates for the Drake equation).[1][2]
		p Michael H. Hart formalized the basic points of the argument in a 1975 paper. They include the following:
		ul
			li There are billions of stars in the Milky Way similar to the Sun.
			li With high probability, some of these stars have Earth-like planets, and if the Earth is typical, some may have already developed intelligent life.
			li Some of these civilizations may have developed interstellar travel, a step the Earth is investigating now.
			li Even at the slow pace of currently envisioned interstellar travel, the Milky Way galaxy could be completely traversed in a few million years.
			li And since many of the stars similar to the Sun are billions of years older, this would seem to provide plenty of time.
		p According to this line of reasoning, the Earth should have already been visited by an extraterrestrial civilization, or at least their probes. 
		em.float-right https://en.wikipedia.org/wiki/Fermi_paradox

	h2 My thoughts to the Fermi Paradoxon

	p There always have been other live forms in the universe. Maybe there also currently still are others. But we will never know, for the following reasons:

	p Travelling millions of light years takes at least millions of year. Einsteins relativity theory postulates that nothing can ever move faster than the speed of light.

	p Secondly the same also stands for communication. Any transfer of data will at least take that long. Sending a radio message from the earth to the moon already takes more than one second. Sending it to the sun already takes eight minutes. Sending a message out further takes a lot more effort:
	ul
		li https://scienceandtechnology.jpl.nasa.gov/research/research-topics-list/communications-computing-software/deep-space-communications
		li https://www.kurzweilai.net/communicating-with-the-universe
		li https://en.wikipedia.org/wiki/Project_Longshot
	p But the question remains, why don't we receive communication at all, not even from civilisations that existed millions of years ago?

	h2 Why did no other form of life travel to us?

	blockquote "No other intelligent life visited us, because ... they are intelligent" ;-)

	p No just kidding. The nearest star Alpha Centauri is 4.3 of light years away. Even at the speed of light, it would take years in space to travel to earth. Experiments have shown, that a small group of humans can't be put into a small box for four years. We are socially simply not capable of that. So what can we do?

	h2 Send live itself!

	p If we can't send living beeings, then maybe we can send live itself? Seeds of live. This has already been looked at in the "Breakthrough Starshot" project:
	ul
		li https://www.smh.com.au/opinion/it-may-be-possible-to-send-life-to-other-planets--but-should-we-20171222-h08zpq.html
		li https://www.space.com/36783-interstellar-spaceflight-breakthrough-starshot-panspermia.html
		li https://www.space.com/32551-breakthrough-starshot-interstellar-spacecraft-infographic.html

	h3 My Theses
	
	p Exactly this, sending seeds of live, has already been done since millions of years by everyone in the universe. Many life forms that may have existed millions of years ago already sent their DNA seeds throughout the universe.

	p This is how life has emerged on earth: "Panspermia" https://www.space.com/interstellar-panspermia-earth-life-oumuamua.html
     
	p The simplest forms of live are viruses. Some virus can survive in interstellar vacuum even under cosmic radiation. https://en.wikipedia.org/wiki/List_of_microorganisms_tested_in_outer_space
	p.
		These could be sent to other stars in the hope to descend on planets that cirumnavigate it. But these are just viruses, that hopefully might evolve into intelligent live. 
		How to provide information to this live. Again: You cannot communicate. It would take millions of years of evolution until the live form
		on the target planet would be able to receive any form of communication. So the only way is to somehow "store" information inside the sent package itselfe. That would
		then help the developed live form to flurish.

	h2 How to send information?

	p.
		If we can only send cells and viruses that then hopefully will develop into an intelligent life form, then how to we addionally send information to this future life form?
		The information storage would need to be resilient against destruction and unwanted changes in data. This can be archived with simple backup and duplication.
		But there is a much harder problem: In which format should the data be stored? How to store information that a future civilisation on another planet that you don't know
		yet will be able to decipher?

	p What would be the perfectly ideal data storage? 
	ul
		li There are not just two or three backups, but millions.
		li The storage should somehow protects itself.
		li The storage can survive in an ever changing environemnt.
		li Ideally everyone (what ever that individuum "one" may mean in the evolved live form) would be able to decipher the information himself.
		
	p This storage already exists. It's called:

	h2 Desoxyribonucleic acid - DNS

	p An intelligent data storage that is capable of protecting itself even in a VUCA world. Not the strongest will survive, but the one who can adapt fastest to changing environmental conditions. Its sole reason of being is to protect and to preserve its data as long as ever possible. 

	p So what is the data in our genome? Can the 'disk' decipher itself?


