extend /includes/blogPostLayout.pug

block content
	-
		var metadata = { 
			id: "human-computer-interface",
			title: "Human computer interface",
			date: "2013-10-31",
			img: "RemingtonTypewriter.jpg",
			tags: ["philosphy"],
			excerpt: "Do you know who decided on the layout of your keyboard?",
		}

	+postHeader(metadata)

	p The QWERTY keyboard layout, as we know it today has been invented in 1873 for typewriters and has not been changed since then (except for for one or two pretty useless additional keys). 
	
	p Within the next decades, there are two possibilities how the human-computer-interface may develop. A good one and a not so desirable one. Either computers adapt to us, that means, they finally will be able to really understand spoken languages, or humans have to adapt to computers. That might mean, that we will all have implanted USB-ports or something similar. 
	
	p Of course I hope, that development will go the former way, but who knows.	
