extend ../includes/blog-post-layout.pug

block content
	-
		var metadata = { 
			id: "poker-house-rules",
			title: "Doogies Poker House Rules",
			date: "2019-10-14",
			img: "poker-chips.jpg",
			tags: ["Poker", "DE"],
			excerpt: "Wir spielen ab und zu mal eine kleine private Pokerrunde unter Freunden. Hier schon mal ein paar Tips ...",
		}

	p Ich freue mich schon, wenn wir das nächste mal wieder in unserer kleinen privaten Runde Pokern. Wir spielen Texas Hold'em Poker. Zwei Karten auf der Hand und Fünf in der Tischmitte. Meistens spielen wir erst ein bisschen Cache Game um wieder rein zu kommen und anschließend ein Turnier.

	p Zusätzlich zu den normal bekannten Poker und  Turnier regeln, hier ein paar Fairness Regeln, die wichtig sind:

	h2 Allgemeine Regeln

	p Chips und Karten immer sichtbar - Jeder Spieler muss seinen gesamten Chip Stack und seine Karten deutlich für alle sichtbar vor sich liegen haben, denn nur so können die anderen Spieler z.B. sehen wer noch im Spiel ist oder z.B. entscheiden ob sie bereit sind ein all-in zu callen.

	p Hole Cards schützen - Jeder Spieler ist selbst dafür verantwortlich seine Hole Cards zu schützen. Karten die in der Mitte des Tisches liegen gelten als gefolded und werden vom Dealer eingesammelt. Sonst verliert der Dealer den Überblick.

	p Sagen gilt vor tun - Wenn ein Spieler etwas ansagt, wie z.B. "Ich setzte X Chips" und dann aber etwas anderes tut, also z.B. mehr oder weniger Chips in die Tischmitte schiebt, dann gilt immer das was er <em>gesagt</em> hat! Wenn ein Spieler nichts sagt und nur etwas tut, dann gilt was er getan hat.

	p Karten von sich wegschieben gilt als <em>fold</em>. Mit den Finger auf den Tisch klopfen wenn man dran ist gilt als <em>Check</em>.

	p Wir sagen immer "Ich erhöhe (insgesamt) auf ... Chips". Wir sagen nie: "Ich erhöhe um ... Chips".  Ist dann einfacher für die nachfolgenden Spieler.

	p Ein Raise muss angekündigt werden - Wenn vor einem Spieler bereits gesetzt wurde und dieser wortlos einen größeren Chip als der gesetzte Betrag vor ihm in die Mitte schiebt, dann gilt das als <em>Call</em> und nicht als Raise. 

	p Keine String Bets - Eine String bet bedeutet: Erst ein paar Chips setzen und dann doch mal mal weitere Chips dazu legen. Die Chips in einem Bet müssen in einer Bewegung gesetzt werden.

	p "Show one - show all!" Wenn ein Spieler eine seiner Karten zeigt, so muss er diese immer allen Spielenr zeigen, denn sonst wüsste ein Mitspieler mehr über seine Spielweise als die anderen Mitspieler am Tisch.

	p Beim Show Down werden immer beide Hole Cards gleichzeitig und für alle sichtbar aufgedeckt. (Aber nie vorher!)
	
	p Besonderer Fall: Nur noch zwei Spieler im Pot. Der erste ist all-in. Der zweite überlegt das all-in zu callen. In dieser Situation, darf der zweite Spieler seine Karten noch nicht aufdecken! Denn ansonsten könnte er an der Reaktion des all-in spielers Informationen erhalten ob er callen soll oder nicht.
	
	h2 Tips die das Spiel für den Dealer leichter machen

	p Jeder Spieler fasst nur seine eigene Chips an. Die Chips im Pot fasst nur der Dealer an. Es wird auch nur über den Dealer und nicht zwischen den Spielern gewechselt.

	p Jeder Spieler setzt den Betrag den er setzen möchte genau auf die weiße Linie vor sich. Wir sagen: "Ich biete/erhöhe auf (insgesamt) ..." und nicht "Ich erhöhe um ...". Haben alle gesetzt, werden alle Chips in den Pot gesammelt.

	p Wird eine Karte vom Dealer ausversehen unabsichtlich aufgedeckt ...
	ul
		li und es sind (außer den Blinds) noch <em>keine</em> Einsätze getätigt, so wird neu gedealt.
		li und es wurde bereits mindestens ein Einsatz getätigt, so ist die aufgedeckte Karten aus dem Spiel. Sie wird für diese Runde <em>offen</em> für alle Sichtbar beiseite gelegt und zählt nicht mit.



	h2 Unsere Cash Game Regeln

	p Vor Beginn des Spieles wird ein fester Buy-in festgelegt. Wenn ein Spieler pleite ist, dann kann er sich mit diesem festen Betrag wieder einkaufen. 
	
	p Spieler dürfen sich nur mit einem festgelegten Betrag einkaufen, denn sonst könnte sich jemand mit einer entsprechend großen Investition direkt mit mehr Chips als alle anderen einkaufen. Der Big Stack hat einen taktischen Vorteil beim Poker.
	
	p Wenn mehrere Spieler sich bereits neu eingekauft haben und dadurch sehr viel mehr Chips am Tisch sind, macht es taktisch evtl. keinen Sinn mehr sich mit dem festen Betrag, der dann sehr klein ist, neu einzukaufen. An der Stelle starten wir die Runde meistens neu.

	p Im Cash Game kann jeder Spieler jederzeit kurz pausieren. Die Blinds laufen dann weiter und werden ggfs. vom Dealer von seinem Stack genommen und gesetzt.

	p Ein Spieler kann sich jederzeit ausbezahlen lassen, wenn er die Runde verlassen möchte.



	h2 Turnier

	p Beim Turnier Gibt es nur einen einzigen Buy-In ganz am Anfang. Kein re-buy. Jeder spielt nur mit den Chips die er hat. Wer keine Chips mehr hat ist raus.

	p Wir spielen ein Deep Stack Turnier. Das heist die blinds starten sehr klein. Erster Big Blind ist 1/100 des Start Stacks. Die blinds starten jeweils nach der Uhr. Wie schnell und wie hoch genau hängt davon ab, wie viele Spieler wir am Anfang sind und wie lange das Turnier werden soll. Dafür gibt es hier einen Rechner:

	a(href="https://pokersoup.com/tool/blindStructureCalculator") Blind Structure Calculator

	p <b>Vor</b> dem Turnier wird der Einsatz von jedem Spieler eingesammelt. Der gesamte Einsatz wird unter den ersten drei Gewinnern aufgeteilt:  1. Platz: 50%, 2. Platz: 30%, 3. Platz: 20%

	p Die Sitzplätze am Tisch werden zu beginn verlost. Jeder Spieler kann jederzeit vom Tisch aufstehen, aber die Blinds werden vom Dealer automatisch eingezogen.

	p Es muss mindestens um den BigBlind geraised werden. (Wir spielen jedoch nicht so, dass der vorherige Bet bzw. Raise verdoppelt werden muss.)

	p Wenn ein Spieler All-in ist, dann können weitere Spieler noch weiter und höher bieten. Dafür wird dann ein Side Pot gegründet. Der erste All-in Spieler kann höchstens den Main Pot gewinnen.
	
	p Siehe auch die offiziellen <a href="https://www.wsop.com/how-to-play-poker/house-rules/">WSOP House Rules</a>

	
	p Sollte eine Karte einmal aus versehen gezeigt werden, so wird diese offen und für alle sichtbar beiseite gelegt und wird nicht für eine Hand mitgezählt.

	h2 Heads up

	p Wenn nur noch zwei Spieler übrig sind, dann wird der Spieler am Button zum Small blind.

	p Und das wichtigste zum Schluss: Bleibt fair und dann werden wir einen spannenden Abend verbringen. Viel Glück!