extend ../includes/blog-post-layout.pug

block content
	-
		var metadata = { 
			id: "poker-house-rules",
			title: "Doogies Poker Hausregeln",
			date: "2019-10-14",
			img: "poker-chips.jpg",
			tags: ["Poker", "DE"],
			excerpt: "Doogies Poker House Rules. Wir spielen ab und zu mal eine kleine private Pokerrunde unter Freunden. Hier schon mal ein paar Tips ...",
		}

	+postHeader(metadata)

	p Ich freue mich schon, wenn wir das nächste mal wieder in unserer kleinen privaten Runde Pokern. Wir spielen Texas Hold'em Poker. Zwei Karten auf der Hand und bis zu fünf in der Tischmitte. Meistens spielen wir erst ein bisschen Cache Game um wieder rein zu kommen und anschließend ein Turnier.

	h2 Cash Game

	p Beim Cash Game kann jeder jederzeit ein und aussteigen. Vor Beginn des Spieles wird ein fester Buy-in festgelegt. Es gibt nur einen re-buy. Weil es wäre unfair sich mit mehr Geld als alle anderen einzukufen. Und es macht keinen Sinn sich mit viel weniger Geld als alle anderen dann noch einzukaufen.

	h2 Turnier

	p Beim Turnier Gibt es nur einen einzigen Buy in ganz am Anfang. Kein re-buy. Jeder spielt nur mit den Chips die er hat. Wer keine Chips mehr hat ist raus.

	p Wir spielen ein Deep Stack Turnier. Das heist die blinds starten sehr klein. Erster Big Blind ist 1/100 des Start Stacks. Die blinds starten jeweils nach der Uhr. Wie schnell und wie hoch genau hängt davon ab, wie viele Spieler wir am Anfang sind und wie lange das Turnier werden soll. Dafür gibt es hier einen Rechner:

	a(href="https://pokersoup.com/tool/blindStructureCalculator") Blind Structure Calculator

	p <b>Vor</b> dem Turnier wird der Einsatz von jedem Spieler eingesammelt. Der gesamte Einsatz wird unter den ersten drei Gewinnern aufgeteilt:  1. Platz: 50%, 2. Platz: 30%, 3. Platz: 20%

	p Die Sitzplätze am Tisch werden zu beginn verlost. Jeder Spieler kann jederzeit vom Tisch aufstehen, aber die Blinds werden vom Dealer automatisch eingezogen.

	p Wenn ein Spieler All-in ist, dann können weitere Spieler noch weiter und höher bieten. Dafür wird dann ein Side Pot gegründet. Der erste All-in Spieler kann höchstens den Main Pot gewinnen.
	
	p Siehe auch die offiziellen <a href="https://www.wsop.com/how-to-play-poker/house-rules/">WSOP House Rules</a>

	h2 Tips die das Spiel für den Dealer leichter machen

	p Jeder Spieler fasst nur seine eigene Chips an. Die Chips im Pot fasst nur der Dealer an.

	p Jeder spieler setzt den Betrag den er setzen möchte genau auf die weiße Linie vor sich. Wir sagen: "Ich biete/erhöhe auf insgesamt ..." (nicht "um ..."). Haben alle gesetzt, sammelt der Dealer alle Chips in den Pot.

	p Sollte eine Karte einmal aus versehen gezeigt werden, so wird diese offen und für alle sichtbar beiseite gelegt und wird nicht für eine Hand mitgezählt.

	h2 Heads up

	p Wenn nur noch zwei Spieler übrig sind, dann wird der Spieler am Button zum Small blind.

	p Und das wichtigste zum Schluss: Bleibt fair und dann werden wir einen spannenden Abend verbringen. Viel Glück!