-
	var metadata = { 
		id: "post-two",
		title: "Post two, pretty recent",
		date: "2019-09-15",
		img: "time-abstract.jpg",
		tags: ["VIER"],
		excerpt: "Excerpt for newest post",
	}

include ../includes/pug-includes.pug

+blogTitle(title, date)
+blogBody
	p Second very long post This is the first paragraph of the post. So it should become its excerpt. Although its pretty long. We will see if this works.
	p Second post has also 2 paragraphs