//- This is post-one just a sample post
//- the next view lines are a pug code block.
//- the metadata variable is available within this pug script
//- the JSON (between the curly brackets) will be extracted for the list of recent blogs on the start page
-
	var metadata = { 
		id: "post-one",
		title: "Post one that is long ago",
		date: "2019-08-01",
		img: "universe-blue.jpg",
		tags: ["EINS", "ZWEI", "DREI"],
		excerpt: "The most interesting thing you always wannted to know",
	}

include ../includes/pug-includes.pug

+blogTitle(title, date)
+blogBody
	p This is the first paragraph of the post. So it should become its excerpt. Although its pretty long. We will see if this works.
	p And it has two paragraphs