extend /includes/blog-post-layout.pug

block content
	-
		var metadata = { 
			id: "proof-that-you-are-you",
			title: "Proof that you are you!",
			date: "2016-09-13",
			img: "blue-biblio.png",
			tags: ["Achilles & Turtle", "Philosophy"],
			excerpt: "I have always been a fanatic about log output when coding.",
		}

	+postHeader(metadata)

	p.achilles Hello turtle, how are you doing this morning?

	p.turtle Good morning Achilles! Thank you very much for asking. And yourself? Surely you have an exciting question for me again?

	p.achilles Today I have a very special question: Who are you?

	p.turtle Well that's not a difficult question. I am, of course, the Turtle T.

	p.achilles But that's just your name your parents gave you back then. They could have chosen any other name. I do not think that defines you, or your innermost self.

	p.turtle OK, then: I am the Turtle T, living in the Strandstreet 1, Athens, Greece, born on March 3rd, 3142 in the year of the great philosopher New Heracles. And my mobile number is the 2345FCX3355DG3FA35.

	p.achilles But that's just your data. Your neighbors have the same address, your mobile number identifies only the device and not yourself. Hopefully, if you lose your phone, you're still you.

	p.turtle Ok, now I got it: My fingerprint defines me! That is unique!

	p.achilles And what if I cut both your hands off. (Do not worry, I will not do that) Am I you then?

	p.turtle No, of course not. I would still be here. Here I am, my body, my arms, hands and legs.

	p.achilles What exactly is your body? First of all it consists of 80% water. By deposition, sweating and skin flakes you have replaced your body mass measured in terms of weight completly at the age of 14 years. Do you think that defines you?

	p.turtle Ok, but you can not replace my eyes. They are unique. Their cells are not replaced. A retina scanner recognizes me and only me.

	p.achilles What does a Retina Scanner recognize? A machine! He simply scans a picture and compares certain features with a stored record. This is a fairly simple system that is easy to outsmart.

	p.turtle But you recognize me? You know who I am, I hope.

	p.achilles Ok, this is certainly a much more mature and complex system, but even I (as a human being) only recognize you by some external characteristics, such as: your look, your clothes, your face and your behavior.

	p.turtle Now I have you! That's it. My behavior and my habits define me.

	p.achilles For a long time I thought so too. Until someone spied on me (for fun). He hacked into my email and Facebook account. Secretly sent messages in my name. He learned my habits. So he knew that I enjoyed a glass of wine every Wednesday in the tavern down at the beach. One Wednesday, he hired an actor who looks quite similar to me. That actor knew my name, where I live, he had my cell phone number and he had even told the innkeeper via e-mail (from my e-mail address) that he was looking forward to the good wine this Wednesday.

	p.indent When I came to my favorite bar that day, 'I' was already there and the innkeeper had already given me a glass of wine. Of course, I first got upset and shouted, "Hey, I'm me." The actor responded: "Who are you? I am me!" What do you think whom of us twowas thrown out in the end? I really did panic seriously, because I was in fact facing the challenge:

	blockquote Prove that you are you!