extend ../includes/blog-post-layout.pug

block content
	-
		var metadata = { 
			id: "welcome-to-doogie-de",
			title: "Welcome to Doogie.de",
			date: "2020-11-21",
			img: "mandel-fractal.jpg",
			tags: ["doogie.de"],
			excerpt: "This is my personal and private blog. Here I write about my digital journey along the never-ending chain of hyperlinks. With an occasional excursus into politics and philosophy. I would like to encourage discussion. Feedback and comments about my articles are always welcome.",
			hidden: false,
			sticky: true,
		}

	p= metadata.excerpt
    
	p If you want to contact me, than you may do so via e-mail or chat. If you don't know my e-mail by now, then <a href="https://www.denic.de/webwhois/")> go learn how the internet works.</a>

	p The design of doogie.de is based on the awesome <a href="https://github.com/lizadikins/brevifolia">Brevifolia</a> layout. Most images are from <a href="https://unsplash.com/">https://unsplash.com</a>

	p When you browse on doogie.de (or <em>any</em> other site on the net) some servers will know your <a href="https://en.wikipedia.org/wiki/IP_address">IP adress</a>. And IP adresses can be <a href="https://ipstack.com/">geocoded to lat+lon coordinates</a> very easily. If you don't want that, then stop using the internet.

	blockquote Welcome to the 21st century!
