extend /includes/layout.pug

block content
	-
		var metadata = { 
			id: "welcome-on-doogie-de---ID",
			title: "Welcome on Doogie.de",
			date: "2019-09-19",
			img: "mandel-fractal.jpg",
			excerpt: "This is my personal blog. Here I write about wherever the endless chain of hyperlinks may drive me. With an occasional excursus into politics and philosophy.",
		}

	h1= metadata.title

	p= metadata.excerpt

	p I would like to encourage discussion. Feedback and comments about my articles are always welcome.
