extend ../includes/blog-post-layout.pug

block content
	-
		var metadata = { 
			id: "what-a-coincidence",
			title: "What a coincidence!",
			date: "2020-07-30",
			img: "blue-liquid.png",
			tags: ["Achilles & Turtle", "Philosophy"],
			excerpt: "Does something like real coincidence actually exist? Or can everything be determined?",
		}

	p.turtle  Hello Achilles! What a beautiful day.

	p.achilles Yes indeed. Hey are you up for a little game?

	p.turtle As you know I love to play and I am always open to a challenging competition.

	p.achilles Ok, here are the rules: I toss a coin. When it lands on the ground and head is up, then you give me one euro. When tails is up, then I give you one euro.

	p.turtle Well that is quite frankly a boring game. And not a very competitive one. Of course everyone knows that in the long run none of us will win or loose a large amount of money with this.

	p.achilles Ok, so let's change the rules of the game. When heads is up, I give you *two* euros. When tails is up, then you will give me one euro.

	p.turtle Well that is a game that I'd certainly like to play. Even as long as possible.

	p.achilles So why is that? Can you explain this desire in more detail.

	p.turtle Cause I am going to win money!

	p.achilles Yes sure, but why will you win money?

	p.turtle Because - in the long run - head and tails will occur roughly the same number of times. But I win more money with heads (2 euros) than you do with tails (1 euro).

	p.achilles But how does the coin know which side to land on? How does it remember how often it landed on one or the other side? And how does it decide on which side to land on next to fullfill the requirememnt: Land on each side about the same number of times.

	p.turtle Obviously the coin does none of that. It doesn't think. It's not alive at all. ... Now you've caught me unprepared. I actually don't know *why* the coin behaves the way it does. But I am certain you'll tell me in just a moment. In your usual own twisted way.

	p.achilles I don't deserve this blasphemy. I am always trying to express myself as simple as ever possible. For example by talking about tossing a coing instead of talking about the philophy of propability calculations.

	p.indent. 
		So let's have a closer look at this. Tossing a coin is actually a physical experiment. The reason why the toin lands on one side or the other is actually a the result of several individually interwoven physical processes such as the amount and directeion of the 
		force that you throw the coin with, the speed and direction of any air movement, the structure and content of the ground that the coin lands on and many more.

	p.indent Theoretically it would be possible to pre calculate all these effects. Assuming that you'd have all the neccessary input variables. And provided that these physical processes can be calculated precisely enough.

	p.turtle But even then the calculations would take forever.

	p.achilles That's right. Exactly this situation when a process is very hard to predict is what we call 'coincidence'div

	p.turtle Are you saying that every coincidence could be predicted?

	p.achilles That is a very important question. Is there something like 'real coincidence'. Something that is not just 'complicated' but actually impossible to predict beforehand.

	p.turtle So far, of course, I thought that there was real coincidence. But now you've completely confused me.

	p.achilles I can comfort you: Real coincidence exists. Because of a very interesting fact: The above statement that any physical process can (theoretically) be pre calculated has a very important precondition, that we also mentioned above: "Assuming that you'd have all the necessary input data".

	p.indent And for getting this data, you'd have to measure a lot of things such as force, wind speed, material etc. One thing that most people oversee is that at a very tiny scale, on a microscopig scale, measurment actually changes the condidtion of the object that is being measured.

	p.turtle Oh oh yes I read about this just last week. This is called the <a href="https://en.wikipedia.org/wiki/Uncertainty_principle">"Uncertainty principle"</a> by your well acknowledged colleague Werner Heisenberg.

	p.achilles. 
		Indeed that's correct. As I already mentioned, the new idea here is that the Uncertainty Principle has a connection to coincidence. And this leeds to a new view on the discussion about <a href="https://en.wikipedia.org/wiki/Uncertainty_principle#Free_will">Free will</a> 
		that's now continued in the new scientific field of <a href="https://en.wikipedia.org/wiki/Quantum_biology">Quantum Biology</a>. But that is another story ...