extend /includes/blog-post-layout.pug

block content
	-
		var metadata = { 
			id: "what-is-a-model",
			title: "What is a model?",
			date: "2019-09-12",
			img: "blue-triangles.png",
			tags: ["Achilles & Turtle", "Philosophy"],
			excerpt: "Our two friends meet on a sunny day and they once again let themselves drift away into the wide world of philosophy ...",
		}

	+postHeader(metadata)

	p.turtle Hello Achilles! What a beautiful day.

	p.achilles Yes, the perfect weather to philosophize a little bit in the sun.

	p.turtle Ah, what are you pondering about today? And what do you have in your hands there? Is this a house?

	p.achilles No, not quite. This is a piece of paper from which I folded a model of a house.

	p.turtle I didn't know that you are an origami artist. This looks really professional.

	p.achilles Folding it wasn't easy. The whole time while crafting, I kept asking myself: What is a model?

	p.turtle Well, what you hold in your hand is a model.

	p.achilles Yes, but in general? What is a 'model' in general?

	p.turtle  Well I would say a model is a scaled-down version of something big.

	p.achilles Yes, that's correct, but not sufficient. A model is usually not only smaller in size than the original, but also simpler and less complex than the original. It is a limited representation of reality.

	p.turtle Ok, I can understand.

	p.achilles What do oyu think would a model of the universe look like?

	p.turtle Oh my good. Where are you getting these questions from? I have absolutely no idea.

	p.achilles The universe is made up of many many atoms. And they interact with each other according to the laws of physics. Let's say we'd have a hughe, super powerful computer that could simulate all these rules. Would we then have a model of the universe?

	p.turtle Wow, that would be a pretty big computer!

	p.achilles Yes, and in particular, it would be bigger than the universe, ie. it would have to consist of more parts than the universe itself.

	p.turtle Which, to say the least, is a little problem.

	p.achilles Of course, you could never build this computer. But for a moment let's assume it would be possible.

	p.turtle Hey, I see where you are getting to: Couldn't this computer then predict the future if you'd just let it run a bit faster?

	p.achilles Exactly that's the point: If one knew the state of every atom in the universe. And all physical rules how atoms interact. Could one then predict the future?

	p.turtle I know something! I read something about the state of an atom and measurement and stuff. I can't remember exactly.

	p.achilles That's right. One can not accurately measure the exact state of an atom (with its atomic nucleus and all its electrons, etc.) without changing the state itself. Because when you measure, you have to somehow interact with the atom. This changes the state of the atom. So you can never know the state of all the atoms in the Universe, without changing the future. According to the chaos theory, even the slightes change in one tiny little atom may have a huge "chaotic" effect at large scale.

	p.turtle This is so stupid. I was so looking forward to being able to predict the lottery.

	p.achilles Speaking of lottery, that brings me to yet another question: What is coincidence?

	p.turtle Well that's something I know for sure: Coincidence is the fact that I always loose any bet.

	p.achilles No, that is your subjective perception of (missing) luck in a random experiment. I mean general coincidence again, not your personal view of it.

	p.turtle Well that's when I do not know why something happens.

	p.achilles Yes, exactly. Now back to our supercomputer. If I knew the state of all the atoms in the universe, then I could exactly explain why something happened.

	p.turtle Not quite: I could say why an atom flies in one direction or another and how fast. But I could not explain why a person marries someone else.

	p.achilles Very well recognized, my dear turtle. You have just described exactly the difference between the micro and macro state of a system. Even if I know the micro-state of all the smallest elements of a system, it is still quite a complex step to deduct the macro state of that system. To do that, we have to understand the system, which in turn allows for interpretation.

	p.turtle Well, again no luck with the lottery win.

	p.achilles Yes, the future will most probably always and forever be unforeseeable. Luckily!

