-
	var metadata = { 
		id: "what-is-a-model",
		title: "What is a model?",
		date: "2019-09-12",
		img: "universe-blue.jpg",
		excerpt: "Our two friends meet on a sunny day and they once again let themselves drift away into the wide world of philosophy ...",
	}

p Turtle: Hello Achilles! What a beautiful day.

p Achilles: Yeah, that's the perfect weather to philosophize a little bit in the sun.

p Turtle: Ah, you're pondering again. Which topic concerns you today so much? And what do you have in your hands? Is this a house?

p Achilles: No, not quite. This is a piece of paper from which I made a model of a house.

p Turtle: I did not know you were an origami artist. Looks really professional.

p Achilles: It was not that easy to do that. The whole time while crafting, I kept asking myself: what is a model?

p Turtle: Well, what you hold in your hand is a model.

p Achilles: Yes, but in general? What is a 'model' in general?

p Turtle:  Well I would say a model is a scaled-down image of something big.

p A: Yes, that's correct, but not sufficient. A model is (usually usually) not only smaller than the original, but also simpler than the original. It is a limited representation of reality.

p S: Ok, I can understand.

p A: What would a model of the universe be?

p S: Where are you getting these questions from? No idea.

p A: The universe is made up of many many atoms. And they interact with each other according to the laws of physics. Let's say we have a super big, super powerful computer that could simulate these rules. Would we then have a model of the universe?

p S: That would be a pretty big computer!

p A: That's right, in particular, it would be bigger than the universe. That is to say, it would have to consist of more parts than the universe itself.

p S: Which, to say the least, is a little problem or something?

p A: Of course, you could never build this computer. But suppose it's possible.

p S: Hey, could not this computer predict the future if you just let it run a bit faster?

p A: That's a very good question: if you knew the state of every atom in the universe. And to do this all physical rules interact like the atoms. Could you then predict the future?

p S: I know something! There was something about the state of an atom and measurement and stuff. I can remember that.

p A: That's right. One can not accurately measure the exact state of an atom (with its atomic nucleus and all its electrons, etc.) without changing the state itself. Because when you measure, you have to somehow interact with the atom (radiation, for example light send and receive and so similar physicist experimental stuff). And it changes the state of the atom. So you can never know the state of all the atoms in the Universe, without changing the future, which in turn can not be predicted. For, according to the chaos theory, it may be that a single small change ultimately has a huge "chaotic" effect.

p S: So stupid, now I was so happy to win the lottery.

p A: Speaking of lottery, you're asking me another question: what is coincidence?

p S: Well that's what I know: coincidence is the wobi I'm always unlucky.

p A: No, that is your subjective perception of (missing) happiness in random experiments. I mean general coincidence again, not an individual.

p S: Well that's when I do not know why something happens.

p A: Yes, exactly. Now back to our supercomputer. If I knew the state of all the atoms in the universe, then I could say exactly why something happened.

p S: Not quite: I could say why an atom flies in one direction or another and how fast. But I could e.g. not (or only hard?) say why someone marries someone else.

p A: Very well recognized, dear turtle. You have just described exactly the micro and macro state of a system. Even if I know the micro-state of all the smallest elements of a system, it is still quite a complex step to describe the macro-state of the system. To do that, I have to understand and interpret the system, which in turn allows for interpretation.

p S: Well, nothing with the lottery win.

p A: Yes, the future will probably continue and forever unforeseeable.
