doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet", href="/static/style.css")
		title Doogie.de
	body
		.layout
			.navigation
				include /includes/navigation.pug
			.content
				h1 This is the content on the right
				p With some nice paragraph
				h1 This is the content on the right
				p With some nice paragraph
				h1 This is the content on the right
				p With some nice paragraph
				h1 This is the content on the right
				p With some nice paragraph
				h1 This is the content on the right
				p With some nice paragraphh1 This is the content on the right
				p With some nice paragraph
				h1 This is the content on the right
				p With some nice paragraph
				h1 This is the content on the right
				p With some nice paragraph
				h1 This is the content on the right
				p With some nice paragraph
				h1 This is the content on the right
				p With some nice paragraph
