.header-wrapper
	header
		a(href="/")
			img(src="/static/images/logo-hands.png", alt="Logo")
			h1.siteTitle Doogie.de
		h3.siteDescription Welcome on Robert's private blog

	nav
		ul.tag-cloud
			li 
				a Tag1
			li 
				a Tag2

footer
	a(href="/about.html") About
